<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="edmi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="css/favicon.png" />
    <title>In Dies Aura Mental</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
  <script async defer src="https://buttons.github.io/buttons.js"></script>  
  </head>
  <body onload="setTimeout(function(){document.getElementById('gitwatch').style.opacity=1;},1000)">
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">In Dies Aura Mental<sup>&nbsp;<span class="label label-success">notes</span></sup></a>
        </div>
      </div>
    </nav>

    <div class="container">      
      <table class="table">
      <thead>
        <tr><td>Note</td><td>Date</td></tr>
      </thead>
      <tbody>
        %COMMITS%
      </tbody>                                      
      </table>

      <p style="opacity: 0;" id="gitwatch">
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/auramental" aria-label="Follow @auramental on GitHub">Follow @auramental</a>&nbsp;<a href="https://twitter.com/auramental" class="twitter-follow-button" data-show-count="false">Follow @auramental</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<iframe style="position:relative; top:13px;" frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/button-widget?account=410013706392930&quickpay=small&any-card-payment-type=on&button-text=06&button-size=s&button-color=white&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%23ISAM&default-sum=100&successURL=" width="208" height="36"></iframe>
</p>
    </div> 
  </body>
</html>